Q1

In [4]:
import pandas as pd
import numpy as np

Q2

In [5]:
df = pd.read_csv('Airbnb.csv')

Q3

In [6]:
print(df.head(20))

      id                                              name  host_id  \
0   2539                Clean & quiet apt home by the park     2787
1   2595                             Skylit Midtown Castle     2845
2   3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3   3831                   Cozy Entire Floor of Brownstone     4869
4   5022  Entire Apt: Spacious Studio/Loft by central park     7192
5   5099         Large Cozy 1 BR Apartment In Midtown East     7322
6   5121                                   BlissArtsSpace!     7356
7   5178                  Large Furnished Room Near B'way      8967
8   5203                Cozy Clean Guest Room - Family Apt     7490
9   5238                Cute & Cozy Lower East Side 1 bdrm     7549
10  5295                  Beautiful 1br on Upper West Side     7702
11  2595                             Skylit Midtown Castle     2845
12  5121                                   BlissArtsSpace!     7356
13  5295                  Beautiful 1br on Upper West Side     7702
14  6090                     West Village Nest - Superhost    11975
15  7097                 Perfect for Your Parents + Garden    17571
16  5441                   Central Manhattan/near Broadway     7989
17  5803    Lovely Room 1, Garden, Best Area, Legal rental     9744
18  6021  Wonderful Guest Bedroom in Manhattan for SINGLES    11528
19  6090                     West Village Nest - Superhost    11975

      host_name neighbourhood group       neighbourhood  latitude  longitude  \
0          John            Brooklyn          Kensington  40.64749  -73.97237
1      Jennifer           Manhattan             Midtown  40.75362  -73.98377
2     Elisabeth           Manhattan              Harlem  40.80902  -73.94190
3   LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
4         Laura           Manhattan         East Harlem  40.79851  -73.94399
5         Chris           Manhattan         Murray Hill  40.74767  -73.97500
6         Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
7      Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493
8     MaryEllen           Manhattan     Upper West Side  40.80178  -73.96723
9           Ben           Manhattan           Chinatown  40.71344  -73.99037
10         Lena           Manhattan     Upper West Side  40.80316  -73.96545
11     Jennifer           Manhattan             Midtown  40.75362  -73.98377
12        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
13         Lena           Manhattan     Upper West Side  40.80316  -73.96545
14        Alina           Manhattan        West Village  40.73530  -74.00525
15         Jane            Brooklyn         Fort Greene  40.69169  -73.97185
16         Kate           Manhattan      Hell's Kitchen  40.76076  -73.98867
17       Laurie            Brooklyn         South Slope  40.66829  -73.98779
18      Claudio           Manhattan     Upper West Side  40.79826  -73.96113
19        Alina           Manhattan        West Village  40.73530  -74.00525

          room type  price  minimum nights  number_of_reviews last review  \
0      Private room  149.0             1.0                  9  10/19/2018
1   Entire home/apt  225.0             1.0                 45   5/21/2019
2      Private room  150.0             3.0                  0         NaN
3   Entire home/apt   89.0             1.0                270    7/5/2019
4   Entire home/apt   80.0            10.0                  9  11/19/2018
5   Entire home/apt  200.0             3.0                 74   6/22/2019
6      Private room   60.0            45.0                 49   10/5/2017
7      Private room   79.0             2.0                430   6/24/2019
8      Private room   79.0             2.0                118   7/21/2017
9   Entire home/apt  150.0             1.0                160    6/9/2019
10  Entire home/apt  135.0             5.0                 53   6/22/2019
11  Entire home/apt  225.0             1.0                 45   5/21/2019
12     Private room   60.0            45.0                 49   10/5/2017
13  Entire home/apt  135.0             5.0                 53   6/22/2019
14  Entire home/apt  120.0            90.0                 27  10/31/2018
15  Entire home/apt  215.0             2.0                198   6/28/2019
16     Private room   85.0             2.0                188   6/23/2019
17     Private room   89.0             4.0                167   6/24/2019
18     Private room   85.0             2.0                113    7/5/2019
19  Entire home/apt  120.0            90.0                 27  10/31/2018

    reviews_per_month  calculated_host_listings_count  availability_365
0                0.21                               6               365
1                0.38                               2               355
2                 NaN                               1               365
3                4.64                               1               194
4                0.10                               1                 0
5                0.59                               1               129
6                0.40                               1                 0
7                3.47                               1               220
8                0.99                               1                 0
9                1.33                               4               188
10               0.43                               1                 6
11               0.38                               2               355
12               0.40                               1                 0
13               0.43                               1                 6
14               0.22                               1                 0
15               1.72                               1               321
16               1.50                               1                39
17               1.34                               3               314
18               0.91                               1               333
19               0.22                               1                 0

Q4

In [7]:
print("Dataset Shape:", df.shape)
#Large data set means represents need of eda
#proceed with data cleaning(duplicate removal,missing value handling, outlier fixes etc)

Dataset Shape: (48900, 16)

Q5

In [8]:
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room type                          object
price                             float64
minimum nights                    float64
number_of_reviews                   int64
last review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [9]:
#host_name,neighbourhood_group is obj dtype should be string.
#minimum nights should be int64 .
#last review should be date type not object .
# price should be int64 instead of float64 (since prices are usually whole numbers).
# reviews_per_month has missing values (NaN) and should be float64, but consider filling NaNs with 0.0 (indicating no reviews).
# availability_365 is an int64, but ensure it’s between 0 and 365 (values outside this range would be incorrect).

In [10]:
#changing above
import pandas as pd

# convert host_name and 'neighbourhood_group' to string
df['host_name'] = df['host_name'].astype(str)
df['neighbourhood group'] = df['neighbourhood group'].astype(str)

# convert 'minimum nights' to int
df['minimum nights'] = df['minimum nights'].astype(int)
# convert 'last rview' to datetime
df['last review'] = pd.to_datetime(df['last review'], errors='coerce')

# convert 'price' to int (after ensuring no nan values)
df['price'] = df['price'].fillna(0).astype(int)

# fill nan in 'reviews_per_month' with 0.0 and ensure it's float
df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0).astype(float)
# Ensure 'availability_365' values are within 0-365 range
df.loc[df['availability_365'] > 365, 'availability_365'] = 365
df.loc[df['availability_365'] < 0, 'availability_365'] = 0

# Confirm data types
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room type                                 object
price                                      int64
minimum nights                             int64
number_of_reviews                          int64
last review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Q6

In [11]:
print(df.head(20))

      id                                              name  host_id  \
0   2539                Clean & quiet apt home by the park     2787
1   2595                             Skylit Midtown Castle     2845
2   3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3   3831                   Cozy Entire Floor of Brownstone     4869
4   5022  Entire Apt: Spacious Studio/Loft by central park     7192
5   5099         Large Cozy 1 BR Apartment In Midtown East     7322
6   5121                                   BlissArtsSpace!     7356
7   5178                  Large Furnished Room Near B'way      8967
8   5203                Cozy Clean Guest Room - Family Apt     7490
9   5238                Cute & Cozy Lower East Side 1 bdrm     7549
10  5295                  Beautiful 1br on Upper West Side     7702
11  2595                             Skylit Midtown Castle     2845
12  5121                                   BlissArtsSpace!     7356
13  5295                  Beautiful 1br on Upper West Side     7702
14  6090                     West Village Nest - Superhost    11975
15  7097                 Perfect for Your Parents + Garden    17571
16  5441                   Central Manhattan/near Broadway     7989
17  5803    Lovely Room 1, Garden, Best Area, Legal rental     9744
18  6021  Wonderful Guest Bedroom in Manhattan for SINGLES    11528
19  6090                     West Village Nest - Superhost    11975

      host_name neighbourhood group       neighbourhood  latitude  longitude  \
0          John            Brooklyn          Kensington  40.64749  -73.97237
1      Jennifer           Manhattan             Midtown  40.75362  -73.98377
2     Elisabeth           Manhattan              Harlem  40.80902  -73.94190
3   LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
4         Laura           Manhattan         East Harlem  40.79851  -73.94399
5         Chris           Manhattan         Murray Hill  40.74767  -73.97500
6         Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
7      Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493
8     MaryEllen           Manhattan     Upper West Side  40.80178  -73.96723
9           Ben           Manhattan           Chinatown  40.71344  -73.99037
10         Lena           Manhattan     Upper West Side  40.80316  -73.96545
11     Jennifer           Manhattan             Midtown  40.75362  -73.98377
12        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
13         Lena           Manhattan     Upper West Side  40.80316  -73.96545
14        Alina           Manhattan        West Village  40.73530  -74.00525
15         Jane            Brooklyn         Fort Greene  40.69169  -73.97185
16         Kate           Manhattan      Hell's Kitchen  40.76076  -73.98867
17       Laurie            Brooklyn         South Slope  40.66829  -73.98779
18      Claudio           Manhattan     Upper West Side  40.79826  -73.96113
19        Alina           Manhattan        West Village  40.73530  -74.00525

          room type  price  minimum nights  number_of_reviews last review  \
0      Private room    149               1                  9  2018-10-19
1   Entire home/apt    225               1                 45  2019-05-21
2      Private room    150               3                  0         NaT
3   Entire home/apt     89               1                270  2019-07-05
4   Entire home/apt     80              10                  9  2018-11-19
5   Entire home/apt    200               3                 74  2019-06-22
6      Private room     60              45                 49  2017-10-05
7      Private room     79               2                430  2019-06-24
8      Private room     79               2                118  2017-07-21
9   Entire home/apt    150               1                160  2019-06-09
10  Entire home/apt    135               5                 53  2019-06-22
11  Entire home/apt    225               1                 45  2019-05-21
12     Private room     60              45                 49  2017-10-05
13  Entire home/apt    135               5                 53  2019-06-22
14  Entire home/apt    120              90                 27  2018-10-31
15  Entire home/apt    215               2                198  2019-06-28
16     Private room     85               2                188  2019-06-23
17     Private room     89               4                167  2019-06-24
18     Private room     85               2                113  2019-07-05
19  Entire home/apt    120              90                 27  2018-10-31

    reviews_per_month  calculated_host_listings_count  availability_365
0                0.21                               6               365
1                0.38                               2               355
2                0.00                               1               365
3                4.64                               1               194
4                0.10                               1                 0
5                0.59                               1               129
6                0.40                               1                 0
7                3.47                               1               220
8                0.99                               1                 0
9                1.33                               4               188
10               0.43                               1                 6
11               0.38                               2               355
12               0.40                               1                 0
13               0.43                               1                 6
14               0.22                               1                 0
15               1.72                               1               321
16               1.50                               1                39
17               1.34                               3               314
18               0.91                               1               333
19               0.22                               1                 0

In [12]:
print(df.describe())

                 id       host_id      latitude     longitude         price  \
count  4.890000e+04  4.890000e+04  48900.000000  48900.000000  48900.000000
mean   1.901520e+07  6.761310e+07     40.728949    -73.952172    152.720511
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.470353e+06  7.812758e+06     40.690100    -73.983072     69.000000
50%    1.967620e+07  3.079058e+07     40.723075    -73.955680    106.000000
75%    2.915173e+07  1.074344e+08     40.763112    -73.936280    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000
std    1.098423e+07  7.860992e+07      0.054529      0.046155    240.142704

       minimum nights  number_of_reviews                    last review  \
count    48900.000000       48900.000000                          38848
mean         7.032168          23.279693  2018-10-04 02:02:57.182866432
min          1.000000           0.000000            2011-03-28 00:00:00
25%          1.000000           1.000000            2018-07-08 00:00:00
50%          3.000000           5.000000            2019-05-19 00:00:00
75%          5.000000          24.000000            2019-06-23 00:00:00
max       1250.000000         629.000000            2019-07-08 00:00:00
std         20.513684          44.555777                            NaN

       reviews_per_month  calculated_host_listings_count  availability_365
count       48900.000000                    48900.000000      48900.000000
mean            1.090863                        7.143374        112.783742
min             0.000000                        1.000000          0.000000
25%             0.040000                        1.000000          0.000000
50%             0.370000                        1.000000         45.000000
75%             1.580000                        2.000000        227.000000
max            58.500000                      327.000000        365.000000
std             1.597218                       32.950889        131.626347

In [ ]:
# Presence of unique IDs (id/hostid) indicates a large dataset.
# Latitude ranges approximately from 40.5 to 40.9 and longitude from -74.24 to -73.71, showing clustered locations.
# Maximum price is 10,000, which is an outlier compared to typical values.
# Median minimum nights is around 3, while the maximum is 1250 nights, indicating an outlier
# Most listings have few reviews, but some reach up to 629 reviews
# Reviews per month follow a similar trend with a few very high values
# Calculated host listings count is mostly 1, with a maximum of 327, suggesting a skewed distribution
# Mean of last review dates is not particularly informative
# Columns such as minimum nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, and availability_365 are treated as categorical

Q7

In [13]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df = df.drop_duplicates()

Number of duplicate rows: 5

In [14]:
print("Dataset Shape:", df.shape)

Dataset Shape: (48895, 16)

Q8

In [15]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                             0
neighbourhood group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room type                             0
price                                 0
minimum nights                        0
number_of_reviews                     0
last review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Q9

In [16]:
df['name'] = df['name'].fillna("Unknown Listing")

In [17]:
print(df.isnull().sum())

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room type                             0
price                                 0
minimum nights                        0
number_of_reviews                     0
last review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [18]:
# Filter rows with missing 'last review' OR 'number_of_reviews' equal to zero
filtered_df = df[(df['number_of_reviews'] == 0)]

# Display the filtered DataFrame
print(filtered_df)

             id                                               name   host_id  \
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
24         7750                  Huge 2 BR Upper East  Cental Park     17985
31         8700  Magnifique Suite au N de Manhattan - vue Cloitres     26394
41        11452                        Clean and Quiet in Brooklyn      7355
43        11943                          Country space in the city     45445
...         ...                                                ...       ...
48895  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48896  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48897  36485431            Sunny Studio at Historical Neighborhood  23492952
48898  36485609               43rd St. Time Square-cozy single bed  30985759
48899  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

             host_name neighbourhood group       neighbourhood  latitude  \
2            Elisabeth           Manhattan              Harlem  40.80902
24                Sing           Manhattan         East Harlem  40.79685
31     Claude & Sophie           Manhattan              Inwood  40.86754
41                  Vt            Brooklyn  Bedford-Stuyvesant  40.68876
43             Harriet            Brooklyn            Flatbush  40.63702
...                ...                 ...                 ...       ...
48895          Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48896          Marisol            Brooklyn            Bushwick  40.70184
48897    Ilgar & Aysel           Manhattan              Harlem  40.81475
48898              Taz           Manhattan      Hell's Kitchen  40.75751
48899       Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room type  price  minimum nights  number_of_reviews  \
2      -73.94190     Private room    150               3                  0
24     -73.94872  Entire home/apt    190               7                  0
31     -73.92639     Private room     80               4                  0
41     -73.94312     Private room     35              60                  0
43     -73.96327     Private room    150               1                  0
...          ...              ...    ...             ...                ...
48895  -73.94995     Private room     70               2                  0
48896  -73.93317     Private room     40               4                  0
48897  -73.94867  Entire home/apt    115              10                  0
48898  -73.99112      Shared room     55               1                  0
48899  -73.98933     Private room     90               7                  0

      last review  reviews_per_month  calculated_host_listings_count  \
2             NaT                0.0                               1
24            NaT                0.0                               2
31            NaT                0.0                               1
41            NaT                0.0                               1
43            NaT                0.0                               1
...           ...                ...                             ...
48895         NaT                0.0                               2
48896         NaT                0.0                               2
48897         NaT                0.0                               1
48898         NaT                0.0                               6
48899         NaT                0.0                               1

       availability_365
2                   365
24                  249
31                    0
41                  365
43                  365
...                 ...
48895                 9
48896                36
48897                27
48898                 2
48899                23

[10052 rows x 16 columns]

In [19]:
missing_last_review = df[df['last review'].isna()]

# Display the rows with missing last review values
print(missing_last_review)

             id                                               name   host_id  \
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
24         7750                  Huge 2 BR Upper East  Cental Park     17985
31         8700  Magnifique Suite au N de Manhattan - vue Cloitres     26394
41        11452                        Clean and Quiet in Brooklyn      7355
43        11943                          Country space in the city     45445
...         ...                                                ...       ...
48895  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48896  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48897  36485431            Sunny Studio at Historical Neighborhood  23492952
48898  36485609               43rd St. Time Square-cozy single bed  30985759
48899  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

             host_name neighbourhood group       neighbourhood  latitude  \
2            Elisabeth           Manhattan              Harlem  40.80902
24                Sing           Manhattan         East Harlem  40.79685
31     Claude & Sophie           Manhattan              Inwood  40.86754
41                  Vt            Brooklyn  Bedford-Stuyvesant  40.68876
43             Harriet            Brooklyn            Flatbush  40.63702
...                ...                 ...                 ...       ...
48895          Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48896          Marisol            Brooklyn            Bushwick  40.70184
48897    Ilgar & Aysel           Manhattan              Harlem  40.81475
48898              Taz           Manhattan      Hell's Kitchen  40.75751
48899       Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room type  price  minimum nights  number_of_reviews  \
2      -73.94190     Private room    150               3                  0
24     -73.94872  Entire home/apt    190               7                  0
31     -73.92639     Private room     80               4                  0
41     -73.94312     Private room     35              60                  0
43     -73.96327     Private room    150               1                  0
...          ...              ...    ...             ...                ...
48895  -73.94995     Private room     70               2                  0
48896  -73.93317     Private room     40               4                  0
48897  -73.94867  Entire home/apt    115              10                  0
48898  -73.99112      Shared room     55               1                  0
48899  -73.98933     Private room     90               7                  0

      last review  reviews_per_month  calculated_host_listings_count  \
2             NaT                0.0                               1
24            NaT                0.0                               2
31            NaT                0.0                               1
41            NaT                0.0                               1
43            NaT                0.0                               1
...           ...                ...                             ...
48895         NaT                0.0                               2
48896         NaT                0.0                               2
48897         NaT                0.0                               1
48898         NaT                0.0                               6
48899         NaT                0.0                               1

       availability_365
2                   365
24                  249
31                    0
41                  365
43                  365
...                 ...
48895                 9
48896                36
48897                27
48898                 2
48899                23

[10052 rows x 16 columns]

#since numberofreview is zero wherever lastreview is missing. it is safe to say we can add either zero or any other default value that coincides with no reviews given.NaT by default fits this description so we dont change it

Q10

In [20]:
df.drop(columns=['last review', 'name', 'id'], inplace=True)

In [21]:
print(df.head(20))

    host_id         host_name neighbourhood group       neighbourhood  \
0      2787              John            Brooklyn          Kensington
1      2845          Jennifer           Manhattan             Midtown
2      4632         Elisabeth           Manhattan              Harlem
3      4869       LisaRoxanne            Brooklyn        Clinton Hill
4      7192             Laura           Manhattan         East Harlem
5      7322             Chris           Manhattan         Murray Hill
6      7356             Garon            Brooklyn  Bedford-Stuyvesant
7      8967          Shunichi           Manhattan      Hell's Kitchen
8      7490         MaryEllen           Manhattan     Upper West Side
9      7549               Ben           Manhattan           Chinatown
10     7702              Lena           Manhattan     Upper West Side
14    11975             Alina           Manhattan        West Village
15    17571              Jane            Brooklyn         Fort Greene
16     7989              Kate           Manhattan      Hell's Kitchen
17     9744            Laurie            Brooklyn         South Slope
18    11528           Claudio           Manhattan     Upper West Side
20    15991     Allen & Irina            Brooklyn        Williamsburg
22    18946              Doti           Manhattan             Chelsea
23    20950  Adam And Charity            Brooklyn       Crown Heights
24    17985              Sing           Manhattan         East Harlem

    latitude  longitude        room type  price  minimum nights  \
0   40.64749  -73.97237     Private room    149               1
1   40.75362  -73.98377  Entire home/apt    225               1
2   40.80902  -73.94190     Private room    150               3
3   40.68514  -73.95976  Entire home/apt     89               1
4   40.79851  -73.94399  Entire home/apt     80              10
5   40.74767  -73.97500  Entire home/apt    200               3
6   40.68688  -73.95596     Private room     60              45
7   40.76489  -73.98493     Private room     79               2
8   40.80178  -73.96723     Private room     79               2
9   40.71344  -73.99037  Entire home/apt    150               1
10  40.80316  -73.96545  Entire home/apt    135               5
14  40.73530  -74.00525  Entire home/apt    120              90
15  40.69169  -73.97185  Entire home/apt    215               2
16  40.76076  -73.98867     Private room     85               2
17  40.66829  -73.98779     Private room     89               4
18  40.79826  -73.96113     Private room     85               2
20  40.70837  -73.95352  Entire home/apt    140               2
22  40.74192  -73.99501     Private room    140               1
23  40.67592  -73.94694  Entire home/apt     99               3
24  40.79685  -73.94872  Entire home/apt    190               7

    number_of_reviews  reviews_per_month  calculated_host_listings_count  \
0                   9               0.21                               6
1                  45               0.38                               2
2                   0               0.00                               1
3                 270               4.64                               1
4                   9               0.10                               1
5                  74               0.59                               1
6                  49               0.40                               1
7                 430               3.47                               1
8                 118               0.99                               1
9                 160               1.33                               4
10                 53               0.43                               1
14                 27               0.22                               1
15                198               1.72                               1
16                188               1.50                               1
17                167               1.34                               3
18                113               0.91                               1
20                148               1.20                               1
22                260               2.12                               1
23                 53               4.44                               1
24                  0               0.00                               2

    availability_365
0                365
1                355
2                365
3                194
4                  0
5                129
6                  0
7                220
8                  0
9                188
10                 6
14                 0
15               321
16                39
17               314
18               333
20                46
22                12
23                21
24               249

Q11

In [ ]:
# count nd list unique values for 'room type'
room_type_count = df['room type'].nunique()
room_type_values = df['room type'].unique()
print("Room type unique values:", room_type_count)
print("Unique Room Types:", room_type_values)

# count and lst unique values for 'neighbourhood group'
ngroup_count = df['neighbourhood group'].nunique()
ngroup_values = df['neighbourhood group'].unique()
print("Neighbourhood group unique values:", ngroup_count)
print("Unique Neighbourhood Groups:", ngroup_values)

# count and list unique values for 'neigbourhood'
neighbourhood_count = df['neighbourhood'].nunique()
neighbourhood_values = df['neighbourhood'].unique()
print("Neighbourhood unique values:", neighbourhood_count)
print("Unique Neighbourhoods:", neighbourhood_values)

Room type unique values: 3
Unique Room Types: ['Private room' 'Entire home/apt' 'Shared room']
Neighbourhood group unique values: 6
Unique Neighbourhood Groups: ['Brooklyn' 'Manhattan' 'Broklyn' 'Queens' 'Staten Island' 'Bronx']
Neighbourhood unique values: 221
Unique Neighbourhoods: ['Kensington' 'Midtown' 'Harlem' 'Clinton Hill' 'East Harlem'
 'Murray Hill' 'Bedford-Stuyvesant' "Hell's Kitchen" 'Upper West Side'
 'Chinatown' 'West Village' 'Fort Greene' 'South Slope' 'Williamsburg'
 'Chelsea' 'Crown Heights' 'Park Slope' 'Windsor Terrace' 'Inwood'
 'East Village' 'Greenpoint' 'Bushwick' 'Flatbush' 'Lower East Side'
 'Prospect-Lefferts Gardens' 'Long Island City' 'Kips Bay' 'SoHo'
 'Upper East Side' 'Prospect Heights' 'Washington Heights' 'Woodside'
 'Brooklyn Heights' 'Carroll Gardens' 'Gowanus' 'Flatlands' 'Cobble Hill'
 'Flushing' 'Boerum Hill' 'Sunnyside' 'DUMBO' 'St. George' 'Highbridge'
 'Financial District' 'Ridgewood' 'Morningside Heights' 'Jamaica'
 'Middle Village' 'NoHo' 'Ditmars Steinway' 'Flatiron District'
 'Roosevelt Island' 'Greenwich Village' 'Little Italy' 'East Flatbush'
 'Tompkinsville' 'Astoria' 'Clason Point' 'Eastchester' 'Kingsbridge'
 'Two Bridges' 'Queens Village' 'Rockaway Beach' 'Forest Hills' 'Nolita'
 'Woodlawn' 'University Heights' 'Gravesend' 'Gramercy' 'Allerton'
 'East New York' 'Theater District' 'Concourse Village' 'Sheepshead Bay'
 'Emerson Hill' 'Fort Hamilton' 'Bensonhurst' 'Tribeca' 'Shore Acres'
 'Sunset Park' 'Concourse' 'Elmhurst' 'Brighton Beach' 'Jackson Heights'
 'Cypress Hills' 'St. Albans' 'Arrochar' 'Rego Park' 'Wakefield' 'Clifton'
 'Bay Ridge' 'Graniteville' 'Spuyten Duyvil' 'Stapleton' 'Briarwood'
 'Ozone Park' 'Columbia St' 'Vinegar Hill' 'Mott Haven' 'Longwood'
 'Canarsie' 'Battery Park City' 'Civic Center' 'East Elmhurst'
 'New Springville' 'Morris Heights' 'Arverne' 'Cambria Heights'
 'Tottenville' 'Mariners Harbor' 'Concord' 'Borough Park' 'Bayside'
 'Downtown Brooklyn' 'Port Morris' 'Fieldston' 'Kew Gardens' 'Midwood'
 'College Point' 'Mount Eden' 'City Island' 'Glendale' 'Port Richmond'
 'Red Hook' 'Richmond Hill' 'Bellerose' 'Maspeth' 'Williamsbridge'
 'Soundview' 'Woodhaven' 'Woodrow' 'Co-op City' 'Stuyvesant Town'
 'Parkchester' 'North Riverdale' 'Dyker Heights' 'Bronxdale' 'Sea Gate'
 'Riverdale' 'Kew Gardens Hills' 'Bay Terrace' 'Norwood'
 'Claremont Village' 'Whitestone' 'Fordham' 'Bayswater' 'Navy Yard'
 'Brownsville' 'Eltingville' 'Fresh Meadows' 'Mount Hope'
 'Lighthouse Hill' 'Springfield Gardens' 'Howard Beach' 'Belle Harbor'
 'Jamaica Estates' 'Van Nest' 'Morris Park' 'West Brighton' 'Far Rockaway'
 'South Ozone Park' 'Tremont' 'Corona' 'Great Kills' 'Manhattan Beach'
 'Marble Hill' 'Dongan Hills' 'Castleton Corners' 'East Morrisania'
 'Hunts Point' 'Neponsit' 'Pelham Bay' 'Randall Manor' 'Throgs Neck'
 'Todt Hill' 'West Farms' 'Silver Lake' 'Morrisania' 'Laurelton'
 'Grymes Hill' 'Holliswood' 'Pelham Gardens' 'Belmont' 'Rosedale'
 'Edgemere' 'New Brighton' 'Midland Beach' 'Baychester' 'Melrose'
 'Bergen Beach' 'Richmondtown' 'Howland Hook' 'Schuylerville'
 'Coney Island' 'New Dorp Beach' "Prince's Bay" 'South Beach' 'Bath Beach'
 'Jamaica Hills' 'Oakwood' 'Castle Hill' 'Hollis' 'Douglaston' 'Huguenot'
 'Olinville' 'Edenwald' 'Grant City' 'Westerleigh'
 'Bay Terrace, Staten Island' 'Westchester Square' 'Little Neck'
 'Fort Wadsworth' 'Rosebank' 'Unionport' 'Mill Basin' 'Arden Heights'
 "Bull's Head" 'New Dorp' 'Rossville' 'Breezy Point' 'Willowbrook']

In [25]:
#Data inconssitencies such as Broklyn and Brooklyn etc were found

In [23]:
from fuzzywuzzy import process

# Define the list of correct borough names.
valid_boroughs = ["Brooklyn", "Manhattan", "Queens", "Staten Island", "Bronx"]

# Function to standardize the value.
def standardize_neighbourhood_group(val):
    # Use fuzzy matching to get the best match from the valid borough list.
    best_match = process.extractOne(val, valid_boroughs, score_cutoff=80)
    if best_match:
        return best_match[0]
    else:
        # If no good match is found, return the original value.
        return val

# Apply the function to the column.
df['neighbourhood group'] = df['neighbourhood group'].apply(standardize_neighbourhood_group)

# Check the unique values after cleaning.
print("Cleaned Neighbourhood group unique values:", df['neighbourhood group'].unique())

d:\Programs\Python\Python310\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Cleaned Neighbourhood group unique values: ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

Room type unique values: 3
Unique Room Types: ['Private room' 'Entire home/apt' 'Shared room']
Neighbourhood group unique values: 5
Unique Neighbourhood Groups: ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']
Neighbourhood unique values: 221
Unique Neighbourhoods: ['Kensington' 'Midtown' 'Harlem' 'Clinton Hill' 'East Harlem'
 'Murray Hill' 'Bedford-Stuyvesant' "Hell's Kitchen" 'Upper West Side'
 'Chinatown' 'West Village' 'Fort Greene' 'South Slope' 'Williamsburg'
 'Chelsea' 'Crown Heights' 'Park Slope' 'Windsor Terrace' 'Inwood'
 'East Village' 'Greenpoint' 'Bushwick' 'Flatbush' 'Lower East Side'
 'Prospect-Lefferts Gardens' 'Long Island City' 'Kips Bay' 'SoHo'
 'Upper East Side' 'Prospect Heights' 'Washington Heights' 'Woodside'
 'Brooklyn Heights' 'Carroll Gardens' 'Gowanus' 'Flatlands' 'Cobble Hill'
 'Flushing' 'Boerum Hill' 'Sunnyside' 'DUMBO' 'St. George' 'Highbridge'
 'Financial District' 'Ridgewood' 'Morningside Heights' 'Jamaica'
 'Middle Village' 'NoHo' 'Ditmars Steinway' 'Flatiron District'
 'Roosevelt Island' 'Greenwich Village' 'Little Italy' 'East Flatbush'
 'Tompkinsville' 'Astoria' 'Clason Point' 'Eastchester' 'Kingsbridge'
 'Two Bridges' 'Queens Village' 'Rockaway Beach' 'Forest Hills' 'Nolita'
 'Woodlawn' 'University Heights' 'Gravesend' 'Gramercy' 'Allerton'
 'East New York' 'Theater District' 'Concourse Village' 'Sheepshead Bay'
 'Emerson Hill' 'Fort Hamilton' 'Bensonhurst' 'Tribeca' 'Shore Acres'
 'Sunset Park' 'Concourse' 'Elmhurst' 'Brighton Beach' 'Jackson Heights'
 'Cypress Hills' 'St. Albans' 'Arrochar' 'Rego Park' 'Wakefield' 'Clifton'
 'Bay Ridge' 'Graniteville' 'Spuyten Duyvil' 'Stapleton' 'Briarwood'
 'Ozone Park' 'Columbia St' 'Vinegar Hill' 'Mott Haven' 'Longwood'
 'Canarsie' 'Battery Park City' 'Civic Center' 'East Elmhurst'
 'New Springville' 'Morris Heights' 'Arverne' 'Cambria Heights'
 'Tottenville' 'Mariners Harbor' 'Concord' 'Borough Park' 'Bayside'
 'Downtown Brooklyn' 'Port Morris' 'Fieldston' 'Kew Gardens' 'Midwood'
 'College Point' 'Mount Eden' 'City Island' 'Glendale' 'Port Richmond'
 'Red Hook' 'Richmond Hill' 'Bellerose' 'Maspeth' 'Williamsbridge'
 'Soundview' 'Woodhaven' 'Woodrow' 'Co-op City' 'Stuyvesant Town'
 'Parkchester' 'North Riverdale' 'Dyker Heights' 'Bronxdale' 'Sea Gate'
 'Riverdale' 'Kew Gardens Hills' 'Bay Terrace' 'Norwood'
 'Claremont Village' 'Whitestone' 'Fordham' 'Bayswater' 'Navy Yard'
 'Brownsville' 'Eltingville' 'Fresh Meadows' 'Mount Hope'
 'Lighthouse Hill' 'Springfield Gardens' 'Howard Beach' 'Belle Harbor'
 'Jamaica Estates' 'Van Nest' 'Morris Park' 'West Brighton' 'Far Rockaway'
 'South Ozone Park' 'Tremont' 'Corona' 'Great Kills' 'Manhattan Beach'
 'Marble Hill' 'Dongan Hills' 'Castleton Corners' 'East Morrisania'
 'Hunts Point' 'Neponsit' 'Pelham Bay' 'Randall Manor' 'Throgs Neck'
 'Todt Hill' 'West Farms' 'Silver Lake' 'Morrisania' 'Laurelton'
 'Grymes Hill' 'Holliswood' 'Pelham Gardens' 'Belmont' 'Rosedale'
 'Edgemere' 'New Brighton' 'Midland Beach' 'Baychester' 'Melrose'
 'Bergen Beach' 'Richmondtown' 'Howland Hook' 'Schuylerville'
 'Coney Island' 'New Dorp Beach' "Prince's Bay" 'South Beach' 'Bath Beach'
 'Jamaica Hills' 'Oakwood' 'Castle Hill' 'Hollis' 'Douglaston' 'Huguenot'
 'Olinville' 'Edenwald' 'Grant City' 'Westerleigh'
 'Bay Terrace, Staten Island' 'Westchester Square' 'Little Neck'
 'Fort Wadsworth' 'Rosebank' 'Unionport' 'Mill Basin' 'Arden Heights'
 "Bull's Head" 'New Dorp' 'Rossville' 'Breezy Point' 'Willowbrook']